html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: #FFFFFF;
}

.nav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navleft{
  display: flex;
  flex-direction: row;
  margin: 1em 0 1em 0;
  font-size: 0.5em;
  list-style-type: none;
}

.navright{
  display: flex;
  flex-direction: row;
  margin: 1em 0 1em 0;
  font-size: 0.5em;
  list-style-type: none;
}

.nav a {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: right;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 100;
}

.nav a:hover {
  color: darkgray;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main img {
  width: 20em;
}
